{% extends 'base.html' %}

{% block title %}
    Request - Trade Cycle
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1>Requested Item Info:</h1>
                <hr>
                <h3>{{ requested_item.name }}</h3>
                <p class="d-flex">{{ requested_item.desc }} <img width="1800" src="{{ requested_item.item_image.all.first.image.url }}" alt=""></p>
                <hr>
                <h1>Offered Item Info:</h1>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    <select class="form-control" name="offered_trade" id="">
                        {% for item in request.user.item.all %}
                            <option value="{{ item.id }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <p>If you don't have Item to trade with or you whish to create a new one <a
                            href="{% url 'trade:new_item' %}">Click Here</a></p>

                    <label class="font-weight-bold" for="note_id">Note About Your Offer:</label>
                    <textarea class="form-control" name="note" id="note_id" cols="30" rows="10"></textarea>
                    <p>Please write up in the box any note you want the owner of the requested item to consider</p>
                    <button class="btn btn-primary mt-3">Request Trade</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
